{% extends "base.html" %}

{% block header %}
    {{ m.pwd(["pkgs/"]) }}
{% endblock %}

{% block content %}

<h3>::: Reference instructions for building packages</h3>

<p>
There's no particular rationale behind what packages do and don't get covered
here. If you'd like to suggest a package or contribute your own directions,
contact me, submit a pr, etc.
</p>

<p>
Note that all the package build instructions will pollute your build directory
and may confuse your package manager as they install to /usr. These are, after
all, reference build instructions.
</p>

<ul>
    <li><a href="catgirl">catgirl</a></li>
    <li><a href="entr">entr</a></li>
    <li><a href="hwdata">hwdata</a></li>
    <li><a href="iana-etc">iana-etc</a></li>
    <li><a href="less">less</a></li>
    <li><a href="libretls">libretls</a></li>
    <li><a href="libtree">libtree</a></li>
    <li><a href="rg">rg</a></li>
    <li><a href="socat">socat</a></li>
    <li><a href="tinyxxd">tinyxxd</a></li>
    <li><a href="xxhash">xxhash</a></li>
</ul>

{% endblock %}
