{% extends "base.html" %}

{% block header %}
    {{ m.pwd(["pkgs", "rg"]) }}
{% endblock %}

{% block content %}
<h3>::: Recursive grep</h3>

{% call m.codeblock() %}
git clone --depth=1 https://github.com/burntsushi/ripgrep .

cargo build --release --features=pcre2
install -vDm755 target/release/rg -t /usr/bin/

rg --generate complete-bash |
    install -vDm644 /dev/stdin /usr/share/bash-completion/completions/rg
rg --generate man           |
    install -vDm644 /dev/stdin /usr/share/man/man1/rg.1
{% endcall %}

{% endblock %}
