{% extends "base.html" %}
{% block content %}

<h2>
    <a href=/>/</a>
</h2>

<h3>::: Version Aggregator and Tracker</h3>

<p>
This page hosts versions tracked by VAT.
</p>

<p>
You can fetch the latest release version of FFmpeg with the following command:
</p>

{% call m.codeblock() %}
curl -fsSL https://vat.tox.wtf/ffmpeg/channels/release
{% endcall %}

<p>
You can fetch all versions as JSON with the following command:
</p>

{% call m.codeblock() %}
curl -fsSL https://vat.tox.wtf/ALL.json
{% endcall %}

{% endblock %}
