{% extends "base.html" %}

{% block header %}
    {{ m.pwd(["imgs", "renders", "0000-descent"]) }}
{% endblock %}

{% block content %}
<h3>::: 0000-descent</h3>

<p>
This is my first svg render. This is a recreation of
<a href="https://antireal.info/image/165813454037">one of antireal's renders</a>
made to familiarize myself with Inkscape.
</p>

<a href="/s/imgs/renders/0000-descent.svg" target="_blank">
<img src="/s/imgs/renders/0000-descent.svg" alt="0000-descent" width=512 height=768>
</a>

<p>
This took around 4 hours from first opening Inkscape, to familiarizing myself
with the UI, to playing around with making assets, to assembling the final
image. I'm pretty happy with how it turned out.
</p>

{% endblock %}
