{% extends "base.html" %}

{% block header %}
    {{ m.pwd(["imgs", "pfp"]) }}
{% endblock %}

{% block content %}
<h3>::: My profile picture</h3>

<p>
There's a fair amount of story behind this. The image is from an anime
called Ergo Proxy. I haven't watched it, though I've heard it's very good. I
first saw this image in a slowed version of Sewerslvt's hopelessness.
</p>

<p>
That song continued to hang out in my head, and I really loved the aesthetic of
the image. So uh, it's been my profile picture for a bit. I've since upscaled it
to appease those pesky online services that set minimum resolution requirements.
</p>

<p>
The only lyrics in the song are sampled from Girls' Last Tour, another anime
I've not watched. They translate to
</p>

<blockquote>
it's hopeless... it's so peaceful.
</blockquote>

<p>
which quite eloquently sums up my perspective on the world -- kinda making peace
with and finding peace in the hopelessness.
</p>

<p>
That was actually less story than I thought.
</p>

<img src="/s/imgs/pfp.jpg" alt="ergo proxy pfp" width=360 height=360>

{% endblock %}
