{% extends "base.html" %}

{% block header %}
    {{ m.pwd(["code", "fzm.sh"]) }}
{% endblock %}

{% block content %}
<h3>::: Replace dmenu with fzf and alacritty</h3>

{% raw %}
<pre><code>#!/usr/bin/env bash

fifo=$(mktemp -u)
infile=$(mktemp)
mkfifo "$fifo"
trap "rm -f $fifo $infile" EXIT

# Capture stdin if piped into
[ ! -t 0 ] && cat > "$infile"

POINTER="${POINTER:--}"
FZF_DEFAULT_OPTS="--color=bw --border=horizontal --reverse --pointer='$POINTER ' --no-scrollbar --prompt='$POINTER ' --input-border=none --no-separator --ellipsis=''"

alacritty msg create-window \
    -o window.padding.x=20  \
    -o window.padding.y=20  \
    -T fzm --class fzm      \
    -e sh -c "fzf $( [ -s "$infile" ] && echo "< $infile") > $fifo"
# I have my window manager configured to float, center, and focus this window

cat   "$fifo"
rm -f "$fifo"
</code></pre>
{% endraw %}

{% endblock %}
