{% import "macros.html" as m with context %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link href="/s/style.css" rel="stylesheet">
    <title>lfs.tox.wtf</title>
    <link rel="icon" type="image/x-icon" href="/s/imgs/favicon.ico">
</head>

<body>
    <main>
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}

        <p><a onclick="history.back()">EOF</a></p>
    </main>

    <footer>
        <h3 class="logo">Ŧ</h3>
        <p><a href="https://tox.wtf">tox.wtf</p>
    </footer>
</body>

</html>
