{% extends "base.html" %}
{% block content %}

<h2><a href=/>/</a></h2>

<h3>::: LFS books</h3>

<p>
I host the rendered versions of my forks of the *LFS books here.
</p>

<ul>
    <li><a href="/lfs-sysv">LFS SysV</a></li>
    <li><a href="/lfs-systemd">LFS Systemd</a></li>
    <li><a href="/blfs-sysv">BLFS SysV</a></li>
    <li><a href="/blfs-systemd">BLFS Systemd</a></li>
    <li><a href="/glfs-sysv">GLFS SysV</a></li>
    <li><a href="/glfs-systemd">GLFS Systemd</a></li>
    <li><a href="/slfs-sysv">SLFS SysV</a></li>
    <li><a href="/slfs-systemd">SLFS Systemd</a></li>
</ul>

{% endblock %}
