{% extends "base.html" %}
{% block content %}

<h2><a href=/>/</a></h2>

<h3>::: LFS books</h3>

<p>
I host the rendered versions of my forks of the *LFS books here.
</p>

<ul>
    <li><a href="/lfs-sysv/index.html">LFS SysV</a></li>
    <li><a href="/lfs-systemd/index.html">LFS Systemd</a></li>
    <li><a href="/blfs-sysv/index.html">BLFS SysV</a></li>
    <li><a href="/blfs-systemd/index.html">BLFS Systemd</a></li>
    <li><a href="/glfs-sysv/index.html">GLFS SysV</a></li>
    <li><a href="/glfs-systemd/index.html">GLFS Systemd</a></li>
    <li><a href="/slfs-sysv/index.html">SLFS SysV</a></li>
    <li><a href="/slfs-systemd/index.html">SLFS Systemd</a></li>
</ul>

{% endblock %}
