{% extends "base.html" %}
{% block content %}

<h2><a href=/>/</a></h2>

<h3>::: LFS books</h3>

<p>
I host the rendered versions of my forks of the *LFS books here. I used to host
the SysV revisions as well, but have since dropped them.
</p>

<p>
I try to keep these relatively current, however I am lazy, and they may be out
of date from time to time.
</p>

<ul>
    <li><a href="/lfs/index.html">LFS</a></li>
    <li><a href="/blfs/index.html">BLFS</a></li>
    <li><a href="/glfs/index.html">GLFS</a></li>
    <li><a href="/slfs/index.html">SLFS</a></li>
</ul>

{% endblock %}
